body {
  font-family: "Inter", Arial, sans-serif;
  background-color: #f9f9f9;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.flex-item {
  flex-basis: 550px;
  margin-bottom: 2rem;
}
@media (max-width: 767px) {
  .bullet h3 {
    display: inline;
    font-size: 14px !important;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .page-title {
    font-size: 20px !important;
    text-align: left !important;
  }
  .page-header {
    text-align: left !important;
  }
  .logo {
    width: 23px !important;
    height: 26px !important;
    margin-right: 10px; /* Add margin */
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* or 'flex-start' to align containers to the left */
    gap: 20px;
    width: 100%; /* Force the container to take up the full width of the screen */
  }
  .flex-item {
    flex-basis: 550px;
    width: 100%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-device-width: 767px) and (pointer: coarse) {
  .bullet h3 {
    display: inline;
    font-size: 14px !important;
    margin-right: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
  }
  .page-header {
    text-align: left !important;
  }
  .page-title {
    font-size: 20px !important;
    text-align: left !important;
  }
  .logo {
    width: 23px !important;
    height: 26px !important;
    margin-right: 10px; /* Add margin */
  }
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* or 'flex-start' to align containers to the left */
    gap: 20px;
    width: 100%; /* Force the container to take up the full width of the screen */
  }
  .flex-item {
    flex-basis: 550px;
    width: 100%;
    margin-bottom: 2rem;
  }
}

.content-block {
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  background-color: #f8f8f8;
}
.content-block .bullet-list .bullet {
  margin-bottom: 1rem;
}
.content-block .bullet-list .bullet .bullet-content {
  display: none;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* Dark mode styles */
body.dark-mode {
  background-color: rgb(53, 54, 64);
  color: #fff;
}
body.dark-mode .content-block {
  background-color: rgb(68, 70, 83);
}
/* Dark mode switch styles */
.dark-mode-switch {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: right;
  margin-left: 100px;
  z-index: 9999;
}
/* Dark mode styles for progress bar */
body.dark-mode #progress-bar {
  background-color: rgb(68, 70, 83);
}
.dark-mode-switch span {
  margin-left: 10px;
  color: #000;
}
.dark-mode-switch-container {
  position: sticky;
  top: 10px; /* Adjust the top value as per your needs */
  right: 10px; /* Adjust the right value as per your needs */
  z-index: 999; /* Ensure a high z-index to appear above other elements */
}

body.dark-mode .dark-mode-switch span {
  color: #fff;
}
.dark-mode-switch input {
  position: absolute;
  left: -9999px;
}
.dark-mode-switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: rgb(239, 239, 234);
  display: block;
  border-radius: 100px;
  position: relative;
}
.dark-mode-switch label:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}
.dark-mode-switch input:checked + label {
  background: #1ba1e2;
}
.dark-mode-switch input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}
/* Style the bullet text */
.bullet h3 {
  display: inline;
  margin-right: 5px;
  margin-bottom: 2px;
  font-size: 20px;
}
.bullet input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 10px;
  border: 1px solid rgb(53, 54, 64);
}
.bullet input[type="checkbox"]:checked ~ h3 {
  text-decoration: line-through;
  opacity: 0.6;
}
/* Style the toggle icon */
.bullet .toggle-icon {
  font-size: 14px;
  transition: transform 0.3s, color 0.3s;
  margin-left: 12px; /* Updated margin */
}
.bullet .toggle-icon.rotated {
  transform: rotate(180deg);
}
/* Style the progress bar */
#progress-bar {
  width: 100%;
  overflow: hidden;
  background-color: #e2e2e2;
  border-radius: 12px;
  position: relative;
  padding: 3px;
  margin-bottom: 12px;
}
#progress-bar div {
  height: 7px;
  background-color: #4edc53;
  width: 0;
  border-radius: 10px;
  transition: width 0.4s;
}
/* Style the reset button */
#reset-button {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  color: #fff;
  font-size: 20px;
  background-color: rgb(68, 70, 83);
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin-bottom: 80px;
}
#reset-button:hover {
  background-color: rgb(101, 104, 123);
}
#reset-button:active {
  transform: scale(0.95);
}

a {
  color: #4edc53;
}
/* Style the sub-bullet text */
.sub-bullet {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.sub-bullet h4 {
  margin: 0;
  display: inline;
  margin-left: 10px;
  font-weight: 300;
}
.sub-bullet input[type="checkbox"] {
  transform: scale(1.2);
  margin-right: 5px;
}
.sub-bullet input[type="checkbox"]:checked ~ h4 {
  text-decoration: line-through;
  opacity: 0.6;
}
.page-title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 48px;
}
/* Style the checkboxes */
.bullet input[type="checkbox"],
.sub-bullet input[type="checkbox"] {
  -webkit-appearance: none; /* Remove default appearance */
  -moz-appearance: none;
  appearance: none;
  outline: none;
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border: 2px solid rgb(96, 99, 117);
  border-radius: 4px;
  background-color: transparent;
  vertical-align: top; /* Add this line to vertically align checkboxes */
}
input[type="checkbox"]:hover {
  background-color: rgba(53, 54, 64, 0.799);
}
/* Style the custom checkbox checkmark */
.bullet input[type="checkbox"]::before,
.sub-bullet input[type="checkbox"]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%234edc53'%3E%3Cpath d='M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41L9 16.17' stroke='%234edc53' stroke-width='2' fill='none' /%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 0.3s;
}
/* Style the custom checkbox checkmark when checked */
.bullet input[type="checkbox"]:checked::before,
.sub-bullet input[type="checkbox"]:checked::before {
  opacity: 1;
}
.bullet-list {
  margin-top: 20px; /* Added margin */
}
.page-header {
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
}
.logo {
  width: 45px;
  height: 50px;
  margin-right: 10px; /* Add margin */
}
